/*

!.gitignore

!/L1
/L1/*
!/L1/src

!/L2
/L2/*
!/L2/src

!/L3
/L3/*
!/L3/src

!/LA
/LA/*
!/LA/src

!/LB
/LB/*
!/LB/src

!/LC
/LC/*
!/LC/src

!/LD
/LD/*
!/LD/src

!/C
/C/*
!/C/src

!/IR
/IR/*
!/IR/src